<div>
  <button [routerLink]="['/dashboard']">zurück zum Dashboard</button>
</div>
<div>
  <input type="date" [(ngModel)]="vacationFrom" (change)="test()"><input type="checkbox" [(ngModel)]="isHalfDayFrom" (change)="test()"> halber Tag
</div>
<div>
  <input type="date" [(ngModel)]="vacationTo" (change)="test()"><input type="checkbox" [(ngModel)]="isHalfDayTo" (change)="test()"> halber Tag
</div>

<p style="margin-top: 20px">Arbeitstage für diesen Eintrag: {{ vacationDays }}</p>
<p>Übrige Urlaubstage für dieses Jahr: {{ userVacationClaim }}</p>
<p style="margin-bottom: 20px">Rest Urlaubstage für dieses Jahr: {{ restDays }}</p>

<div>
  <button (click)="onClickVacation()">Urlaub einreichen</button>
</div>

<!--RadioButton-Test-->
<hr style="margin-top: 100px">
<h2>{{title}}</h2>
<label *ngFor="let item of radioItems">
  <input type="radio" name="options" (click)="model.options = item" [checked]="item === model.options">
  {{item}}
</label>
<p><button (click)="model.options = 'three'">set three</button>
<p>{{debug}}
