<app-header></app-header>
<h3>Dashboard...</h3>
<div>
    <div>
        <button><a [routerLink]="['/vacation']">Urlaub beantragen!</a></button>
        <button><a [routerLink]="['/dashboard']">Link 2</a></button>

        <button (click)="onClick()">Log Employee</button>
    </div>
</div>
<hr>
<h3>Urlaubsliste:</h3>
<tr *ngFor="let vacation of vacationList">
<td>Urlaubnehmer: {{ vacation.employee.username }} >> von: {{ vacation.dateFrom }} halber Tag: {{vacation.isHalfDayFrom}} >> bis: {{ vacation.dateTo }} halber Tag: {{vacation.isHalfDayTo}}</td>
</tr>




