<!--Area => Header-->
<div class="header">
    <div>
        <button [routerLink]="['/employee']">Mitarbeiter-Übersicht</button>
    </div>
</div>

<div style="margin-left: 12px;">
    <h1>Benutzerkonto erstellen</h1>
    <hr>
    <h3 style="margin-bottom: 16px;">Benutzerkonto</h3>
    <div style="display: flex; flex-direction: row">
        <label style="width: 150px;">Benutzername</label><input [(ngModel)]="nameI" type="text" style="margin-right: 32px;">
        <label style="width: 120px;">Kennwort</label><input [(ngModel)]="nameII" type="text" style="margin-right: 32px;">
    </div>
    <div style="display: flex; flex-direction: row">
        <label style="width: 150px;">Vorname</label><input [(ngModel)]="username" type="text" style="margin-right: 32px;">
        <label style="width: 120px;">Nachname</label><input [(ngModel)]="password" type="text" style="margin-right: 32px;">
    </div>
    <button (click)="onClickSave()">Speichern</button>
</div>
