<div style="background-color: lightseagreen; border-top: 1px solid black; border-bottom: 1px solid black; margin-bottom: 10px; padding: 10px 18px">
  <div>
    <p style="color: white; margin-bottom: 5px;">Mitarbeiter hinzufügen</p>
  </div>
  <div>
    <input style="height: 22px;" type="text" placeholder="NameI" [(ngModel)]="nameI">
    <input style="height: 22px;"  type="text" placeholder="NameII" [(ngModel)]="nameII">
    <input style="height: 22px;"  type="text" placeholder="Benutzername" [(ngModel)]="username">
    <input style="height: 22px;"  type="text" placeholder="Kennwort" #inputPassword [(ngModel)]="password">
    <button style="height: 24px; width: 100px; margin-left: 10px"  type="submit" (click)="onClickSave()">Speichern</button>
  </div>
</div>
