<div>
  <button [routerLink]="['/employee']">zurück zur Übersicht</button>
</div>
<h2>Mitarbeiter hinzufügen</h2>
<hr>
<input [(ngModel)]="nameI" type="text" placeholder="Vorname">
<input [(ngModel)]="nameII" type="text" placeholder="Nachname">
<input [(ngModel)]="username" type="text" placeholder="Benutzername">
<input [(ngModel)]="password" type="text" placeholder="Kennwort">
<input [(ngModel)]="vacationClaim" type="number" placeholder="Urlaubsanspruch">
<hr>
<button (click)="onClickSave()">Speichern</button>
